{% extends "base.html" %} {% block title_block %}Register - My Site{% endblock %} {% block css_block %}

<style>
    .register {
        width: 400px;
        border: 1px solid #0a0a0a;
        padding: 20px;
    }
    
    .log_in {
        width: 500px;
        padding: 10px;
        border: 1px solid #131111
    }
</style> {% endblock %}{% block body_block %}
<center>
    <div class="register">
        <h2>Register</h2>
        <form method="POST">
            {% csrf_token %}{{form}}
            <button type=" submit " style="width:100% " class="btn btn-primary ">Register</button>
        </form>
    </div>
    <div class='log_in'>
        <p>Have an account ?
            <a href="{% url 'App_login:Login' %}">Login</a>
        </p>
    </div>
</center>
{% endblock %}