<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>{% block title %}My Site{% endblock %}</title>
    {% block css_block %} {% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class=" navbar-nav me-auto mb-2 mb-lg-0 ">
            <form class="form-inline" method="GET">
                <input class="form-control mr-sm-2" name="search" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            &nbsp; &nbsp; &nbsp;
            <li class="nav-item ">
                <a class="nav-link active " aria-current="page " href="{% url 'App_posts:Home' %}">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active " href="{% url 'App_login:Logout' %} ">Logout</a>
            </li>
            <li class="nav-item ">
                {% if user.user_profile.profile_picture %}
                <a class="nav-link " href="{% url 'App_login:Profile' %}"><img src="/media/{{user.user_profile.profile_picture}}" width="50px" height="40px" class="rounded-circle" alt=""></a> {% else %}
                <a class="nav-link " href="{% url 'App_login:Profile' %}"><img src="/media/profile_pictures/fahim_avater.jpeg" width="40px" height="40px" class="rounded-circle" alt=""></a>
                {% endif %}
            </li>
        </ul>
        </div>
    </nav>
    <div class="container " style="padding-top:20px ">
        {% block body_block %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL " crossorigin="anonymous "></script>
</body>

</html>